@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,800;1,100;1,500;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif ;
}
body {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ;
}

header {

}


.card {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem;
}

.card_header {

}
.card-user {

}
.name {

}
