@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,800;1,100;1,500;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif ;
}
body {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ;
}

header {

}
.covid_update {
    background-color: blue;
    color: white;
}
.btn {
    
}

main {
    display: grid;
    max-width: 1150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: ;
    box-shadow: 2.5rem 3.75rem 3rem -3rem;
    border-radius: 15px;
    padding: 30px 40px;  
}

.card_header {
    display: flex;
    align-items: center;
    color: ;
    margin-bottom: 10px;


}
.card-user {

}
.name {
    font-weight: 600;
    font-size: 15px;

}
